/* Corresponde al documento index.html */

h1, #presentación {
	color:blue;
}

#presente {
	display:block; margin:0 auto;
}

body {background-image:linear-gradient(to right, cyan, #FF00FF);}

#ElCuerpo::-webkit-scrollbar {
  width:0.7em;
  background:#FF00FF;
}

#ElCuerpo::-webkit-scrollbar-thumb {
  background:cyan; 
  border-radius:40px;
  height:30px;
}

h1 {text-align:center;}
