/* Corresponde al documento index.html */

h1, #presentación {
	color:blue;
}

#presente {
	display:block; margin:0 auto;
}

body {background-image:linear-gradient(to right, cyan, #FF00FF);}

body::-webkit-scrollbar {
  width:0.7em !important;
  background:#FF00FF !important;
}

body::-webkit-scrollbar-thumb {
  background:cyan !important; 
  border-radius:40px !important;
  height:30px !important;
}

h1 {text-align:right;}
