/* Corresponde al documento index.html */

html {cursor:url(../Imagenes/Ukazatel.png), auto;}

body {background-image:linear-gradient(to right, cyan, #FF00FF);}

h1 {text-align:center;}

#presente {
	display:block; 
	margin:0 auto;
	max-width: 100%; 
	height: auto;
}

h1, #presentación {
	color:blue;
}
